body {
  margin: 0px;
  padding: 0px;
  /* primary */
  --mdc-theme-primary: #3F51B5; /* indigo 500 */
  /* primary light variant */
  --mdc-theme-primary-light: #8C9EFF; /* indigo A100 */
  /* primary dark variant */
  --mdc-theme-primary-dark: #1A237E; /* indigo 900 */
  /* secondary */
  --mdc-theme-secondary: #FFEB3B; /* yellow 500 */
  /* secondary light variant */
  --mdc-theme-secondary-light: #FFFF8D; /* yellow A100 */
  /* secondary dark variant */
  --mdc-theme-secondary-dark: #F57F17; /* yellow 900 */
  /* background */
  --mdc-theme-background: #FFFFFF; /* white */
}
.drawer {}
.toolbar {
  --mdc-toolbar-ratio-to-extend-flexible: 4;
}
.menu {}
.bookmark {}
.main {}
.param {
  margin: 5px;
  padding: 10px 10% 10px 10%;
  text-align: justify;
}
.footer {}
