/* define custom typefaces and aprociate classes */
@font-face {
  font-family: Fontjek;
  src: url("fonts/Fontjek.otf");
}

.fontjek {
  font-family: "Fontjek"
}

/* define overall page theme in body tag */
html,head,body {
  margin: 0px;
  padding: 0px;
  /* primary */
  --mdc-theme-primary: #4b3737;
  --mdc-theme-on-primary: #FFFFFF;
  /* secondary */
  --mdc-theme-secondary: #da6b62;
  --mdc-theme-on-secondary: #FFFFFF;
  /* background */
  --mdc-theme-background: #FFFFFF;

  /* primary light variant */
  /*--mdc-theme-primary-light: #8C9EFF;*/
  /* primary dark variant */
  /*--mdc-theme-primary-dark: #1A237E;*/
  /* secondary light variant */
  /*--mdc-theme-secondary-light: #FFFF8D;*/
  /* secondary dark variant */
  /*--mdc-theme-secondary-dark: #F57F17;*/
}
/* custom styling of page elements */
.toolbar, .cover {
  background-image: url("imgs/darkcreature.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.content {}
.cell {
  width: 100px;
  height: 100px;
}
.text {
  padding: 0 10% 0 10%;
  text-align: justify;
}
