/* define custom typefaces and aprociate classes */
@font-face {
  font-family: Fontjek;
  src: url("fonts/Fontjek.otf");
}

.fontjek {
  font-family: "Fontjek"
}

/* define overall page theme in body tag */
html,head,body {
  margin: 0px;
  padding: 0px;
  --mdc-theme-primary: #000000;
  --mdc-theme-secondary: #000000;
  --mdc-theme-surface: #FFFFFF;
  --mdc-theme-on-primary: #FFFFFF;
  --mdc-theme-on-secondary: #FFFFFF;
  --mdc-theme--on-surface: #000000;
  --mdc-theme-background: #FFFFFF;
  --mdc-theme-primary-light: #000000;
  --mdc-theme-primary-dark: #000000;
  --mdc-theme-secondary-light: #000000;
  --mdc-theme-secondary-dark: #000000;
}
/* custom styling of page elements */
.toolbar, .branding {
  background-image: url("imgs/redspirits.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.content {
  text-align: justify;
}
.grid {}
.cell {
  height: 200px;
}
